.library {
    h1 {
        font-size: 32px;
    }

    .favorite-tracks,
    .user-playlists {
        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
}