.playlists {
    h1 {
        font-size: 32px;
    }

    .grid {
        margin-top: 30px;
    }

    .popular-playlists,
    .user-playlists {
        h2 {
            font-size: 24px;
        }
    }
}