$background-color: #121212;
$text-color: #fff;
$primary-color: #1DB954;
$secondary-color: #535353;
$card-border-radius: 10px;
$btn-padding: 10px 20px;
$grid-gap: 20px;
$grid-columns: auto-fit, minmax(200px, 1fr);